body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8; /* Lighter background color */
}
*{
    box-sizing: border-box;
}
header {
    background-color: #8575b1;
    color: #fff;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 1em;
}
a{
    text-decoration: none;
}
nav a {
    text-decoration: none;
    color: #fff;
}
.rounded_text{
    padding: 20px 10px;
    border-radius: 5px;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: darkgray;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 10;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
/* list rule definition */
.list li {
    padding: 25px 10px;
    display: block;
    width: 100%;
    margin: 1px;
    text-align: left;
    text-decoration: none;
    border-radius: 5px;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #efeeee 0%, #e8e7e7 100%);
}

.list {
    top: 1em;
    left: 0;
    list-style-type: none;
    padding: 0;
    cursor: pointer;
}

.list li:hover {
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #dedbdb 0%, #efeeee 100%);
}
.list-text{
    padding: 5px 10px;
}
.list-statistic-tomato{
    background-color: tomato;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 5px;
    float: right;
}
.list-statistic-orange{
    background-color: steelblue;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 5px;
    float: right;
}
.list-cancer{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}
.list-cancer li{
    padding: 10px;
    display: block;
}
footer {
    background-color: #c3b5ea;
    color: #fff;
    padding: 1em;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.image-size-small{
    width: 150px;
    height: 150px;
}
.rounded-image{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.button {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */
.button4 {background-color: #e7e7e7; color: black;} /* Gray */
.button5 {background-color: #555555;} /* Black */

input[type='radio']{
    width: 15px;
    height: 15px;
}

.container-flex-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}